<div class="container-fluid mt-5 bg-dark text-light">
    <div class="container mt-5 text-center">
        <div class="row">
            <div class="col-md-6">
                <p class="mt-3 mb-3" id="blog-card-title">Copyright © Blogify 2025. All rights reserved.</p>
            </div>
            <div class="col-md-6">
                <p class="mt-3 mb-3" id="blog-card-title">Powered by Webx Ecommerce ®</p>
            </div>
        </div>
    </div>
</div>